.app {
  width: 100%;
}


.fixture-selector {
  padding-bottom: 16px;
}

select {
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px 24px;
}

.columns {
  display: grid;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: stretch;
}

.columns > * {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

code, .multiline {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 8px;
  margin: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 0;
  flex: 1;
  overflow: auto;
}

.multiline {
  min-height: 400px;
}