.change-view {
  overflow: auto;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 8px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  color: rgb(61, 79, 88);
}

button {
  cursor: pointer;
}

.collapsed-items {
  display: flex;
  gap: 4px;
}

.change-object-property {
  display: flex;
  gap: 4px;

}

.collapsible-children {
  padding-left: 16px;
}

.expanded-opening-line {
  display: flex;
  gap: 4px;
}

.collapse-button,
.ellipses {
  height: 16px;
  line-height: 16px;
}

.change-object-key {
  font-weight: bold;
}

.change-value,
.change-array-separator {
  display: inline-block;
}

/*
.toggle-button, .bracket, .ellipses {
  display: inline-block;
}

.toggle-button,
.change-array-separator,
.change-object-separator {
  margin-right: 4px;
}

.ellipses {
  margin: 0 4px;
  padding: 0 8px;
}

.change-array > *,
.change-property > * {
  display: inline-block;
}

.collapsible-children {
  padding-left: 16px;
}

.collapsible-children {
  margin: 2px 0;
}
*/