.change-view {
  overflow: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  color: rgb(61, 79, 88);
  line-height: 19px; /* hack to align with the buttons */
}

button {
  cursor: pointer;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.toggle-object-property,
.toggle-array-item {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 4px;
  height: 16px;
  line-height: 16px;
  display: inline;
}

.change-object-key,
.change-array-index {
  font-weight: bold;
  padding-right: 4px;
}

.change-value {
  display: inline-block;
}

.change-object-property-summary,
.change-array-item-summary,
.change-array-inline {
  display: inline-flex;
}

.separator {
  margin-right: 4px;
}

.change-object-property > .change-object,
.change-object-property > .change-array,
.change-array-item > .change-object,
.change-array-item > .change-array {
  padding-left: 12px; /* indent all nested properties*/
}

.change-array-inline {
  margin-left: 24px;
}

.change-object-property-leaf,
.change-array-item-leaf {
  padding-left: 12px; /* line up with expand/collapse */
}

.change-unchanged,
.change-added,
.change-removed {
  display: inline-block;
}

.change-summary-added .change-object-key,
.change-summary-added .change-array-index,
.change-summary-added .change-object-property-summary-text,
.change-summary-added .change-array-item-summary-text,
.change-summary-added .change-object-property-value,
.change-summary-added .change-array-item-value,
.change-added,
.change-value .added,
.change-array-inline-added {
  background-color: lightgreen;
}

.change-summary-removed .change-object-key,
.change-summary-removed .change-array-index,
.change-summary-removed .change-object-property-summary-text,
.change-summary-removed .change-array-item-summary-text,
.change-summary-removed .change-object-property-value,
.change-summary-removed .change-array-item-value,
.change-removed,
.change-value .removed,
.change-array-inline-removed {
  background-color: #F08080;
}

.change-removed + .change-added {
  margin-left: 4px;
}
